<table class="table">
    <thead>
      <tr>
        <th>
          Libellé
        </th>
        <th>
          Description
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      {% for niveauaccess in niveauaccesss %}
        <tr>
          <td>
            {{ niveauaccess.niveau|default:"-" }}
          </td>
          <td>
            {{ niveauaccess.description_niveauaccess|default:"-" }}
          </td>
          <td>
              <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item primary"
                      href="#"
                      data-bs-target="#create-niveauaccess-modal"
                      data-bs-toggle="modal"
                      data-action = "update"
                      data-id="{{ niveauaccess.id }}"
                    >
                      <i class="ri-pencil-line me-1"></i>Modifier
                    </a>
                    <a href="#"
                      class="dropdown-item btn-success delete-niveauaccess"
                      data-bs-target="#delete-niveauaccess-modal-{{ niveauaccess.id }}"
                      data-bs-toggle="modal"
                    >
                      <i class="ri-delete-bin-6-line me-1"></i>Supprimer
                    </a>
                  </div>
                  <!-- delete niveauaccess -->
                  <div class="modal fade" id="delete-niveauaccess-modal-{{ niveauaccess.id }}" tabindex="-1" aria-labelledby="exampleModalLabel">
                      <div class="modal-dialog">
                          <div class="modal-content p-0">
                              <form action="{% url 'niveauaccess_delete' niveauaccess.id %}" method="post" id="delete-niveauaccess-form">
                                  {% csrf_token %}
                                  <div class="modal-header">
                                      <h5 class="modal-title">Suppression d'un niveauaccess</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                  </div>
                                  <div class="modal-body">
                                      <div id="modal-content-message">
                                          Voulez vous vraiment supprimer : {{ niveauaccess }} ?
                                      </div>
                                      <input type="hidden" value="{{ niveauaccess.id }}" name="id" id="delete-niveauaccess-input-id">
                                  </div>
                                  <div class="modal-footer flex-row-reverse">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                      <button type="submit" class="btn btn-primary">Supprimer</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="10" class="text-center">
            Aucun élément trouvé...
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
