DEBUG=True
SECRET_KEY=dev-secret-key
DJANGO_ENVIRONMENT=development

MYSQL_ROOT_PASSWORD=rootpasswordhere
MYSQL_DATABASE=databasename
MYSQL_USER=databaseuser
MYSQL_PASSWORD=databasepassword
MYSQL_HOST=db
MYSQL_PORT=3306

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
