DEBUG=True
SECRET_KEY=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3306

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

SESSION_COOKIE_SECURE = False
CSRF_COOKIE_SECURE = False
