{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <img class="avatar"
          style="
              height: 50px;
              width: 50px;
              object-fit: contain;
          "
          src="{% static 'img/logo/logo.png' %}"
          alt="Archivault" width="">
          <span class="app-brand-text text-wrap demo text-heading fw-semibold">
            {{ sidebar_title }}
          </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    {% for item in sidebar_menu %}

      {% if item.header %}
        <li class="menu-header fw-medium mt-3">
          <span class="menu-header-text">{{ item.header }}</span>
        </li>
      {% else %}
        <li class="menu-item
            {% if item.is_active %}active{% endif %}
            {% if item.is_open %}open{% endif %}
        ">
          <a
            href="{% if item.url_name %}{% url item.url_name %}{% else %}javascript:void(0){% endif %}"
            class="menu-link {% if item.children %}menu-toggle{% endif %}"
          >
            <i class="menu-icon tf-icons {{ item.icon }}"></i>
            <div class="text-truncate">{{ item.title }}</div>
          </a>

          {% if item.children %}
            <ul class="menu-sub">
              {% for child in item.children %}
                <li class="menu-item {% if child.is_active %}active{% endif %}">
                  <a href="{% url child.url_name %}" class="menu-link">
                    <div class="text-truncate">{{ child.title }}</div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}

    {% endfor %}
  </ul>

</aside>
