{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <img class="avatar mt-3"
          style="
              height: 75px;
              width: 75px;
              object-fit: contain;
          "
          src="{% static 'img/logo/logo.png' %}"
          alt="Archivault" width="">
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}
  <!--div class="menu-inner-shadow"></div-->
  <ul class="menu-inner mt-2 py-1">
    <!-- title of section or archivault Title -->
    <div class="bg-primary p-2 ps-5 d-flex w-100 mt-1 mb-2">
      <span class="app-brand-text  text-white fw-semibold">
        {{ sidebar_title }}
      </span>
    </div>

    <!-- menu items -->
    {% for item in sidebar_menu %}

      {% if item.header %}
        <li class="menu-header fw-medium mt-3">
          <span class="menu-header-text">{{ item.header }}</span>
        </li>
      {% else %}
        <li class="menu-item
            {% if item.is_active %}active{% endif %}
            {% if item.is_open %}open{% endif %}
        ">
          <a
            href="{% if item.url_name %}{% url item.url_name %}{% else %}javascript:void(0){% endif %}"
            class="menu-link {% if item.children %}menu-toggle{% endif %}"
          >
            <i class="menu-icon tf-icons {{ item.icon }}"></i>
            <div class="text-truncate">{{ item.title }}</div>
          </a>

          {% if item.children %}
            <ul class="menu-sub">
              {% for child in item.children %}
                <li class="menu-item {% if child.is_active %}active{% endif %}">
                  <a href="{% url child.url_name %}" class="menu-link">
                    <div class="text-truncate">{{ child.title }}</div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}

    {% endfor %}
  </ul>

</aside>
