<li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
    <i class="ri-notification-3-line ri-22px"></i>
    <span class="badge rounded-pill badge-notifications bg-danger" id="notif-badge">0</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end py-0">
    <li class="dropdown-menu-header border-bottom">
      <div class="dropdown-header d-flex align-items-center py-3">
        <h5 class="text-body mb-0 me-auto">Notifications</h5>
        <a href="javascript:void(0)" class="dropdown-notifications-all text-body"><i class="ri-mail-open-line ri-20px"></i></a>
      </div>
    </li>
    <li class="dropdown-notifications-list scrollable-container" id="notif-list">
      </li>
    <li class="dropdown-menu-footer border-top p-3">
      <a href="{% url 'notification_list' %}" class="btn btn-primary w-100">Voir toutes les notifications</a>
    </li>
  </ul>
</li>
