{% extends 'layout/layout_manage.html' %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block manage_sidebar %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo ps-7 p-3 pb-0" style="height: 50px !important;">
        <a href="{% url 'cellule_manage' pk=object.pk %}" class="app-brand-link">
            <span class="h5 mb-0 text-uppercase demo menu-text fw-bold">
              {{ object.nom | truncatechars:20 }}
            </span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        {% for item in manage_menu %}
        <li class="menu-item {% if section == item.section %}active{% endif %}">
            <a href="{% url 'cellule_manage' pk=object.pk section=item.section %}" class="menu-link">
                <i class="{{ item.icon }}"></i>
                <div>{{ item.label }}</div>
            </a>
        </li>
        {% endfor %}
        <li class="menu-item mt-7 {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <i class="ri-arrow-left-line me-1"></i>
            <div class="text-truncate" data-i18n="Dashboards">Accueil</div>
          </a>
        </li>
    </ul>
</aside>
{% endblock %}

{% block content %}
  <div class="card">
    <h3 class="card-header mb-0">
      Gestion de {{ object.nom | truncatechars:20 }}
    </h3>
    <div class="card-body">
      <p>Ici, vous pouvez gérer les informations générales sur {{ object.nom }}.</p>
      <p>Par exemple, les documents, les membres, etc...</p>
    </div>
  </div>
  <div class="row mt-3 gy-4">
    {% for item in manage_menu %}
      <div class="col-md-4 col-sm-6">
        <a href="{% url 'cellule_manage' pk=object.pk section=item.section %}" class="text-decoration-none manage-card-link">
          <div class="card text-center h-100">
            <div class="card-body d-flex flex-column justify-content-center">
              <div class="avatar avatar-md-lg mx-auto mb-3">
                <span class="avatar-initial rounded-circle bg-label-primary">
                  <i class="{{ item.icon }} ri-2x"></i>
                </span>
              </div>
              <h5 class="card-title">{{ item.label }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
