<table class="table" id="data-table">
  <thead>
    <tr>
      <th style="width: 40px;">
        <div class="form-check mb-0">
          <input class="form-check-input" type="checkbox" id="check-all-documents">
        </div>
      </th>
      <th>Titre</th>
      <th>Type document</th>
      <th>Sous type</th>
      <th>Theme</th>
      <th>Cellule</th>
      <th>Etat</th>
      <th>Créé par</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-border-bottom-0" id="documents-tbody"></tbody>
</table>
