{# apps/users/templates/components/user_form.html #}
{# Template réutilisable pour le formulaire #}
<div class="row">
  <div class="col-md-6 form-group mb-5">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <input type="text" id="username" class="form-control" name="username"
          placeholder="Entrez votre nom d'utilisateur"
          aria-describedby="username" />
        <label for="username">Nom d'utilisateur</label>
      </div>
    </div>
  </div>

  <div class="col-md-6 form-group mb-5">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <input type="text" id="first_name" class="form-control" name="first_name"
          placeholder="Entrez votre prénom"
          aria-describedby="first_name" />
        <label for="first_name">Prénom</label>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 form-group mb-5">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <input type="email" id="email" class="form-control" name="email"
          placeholder="email@example.com"
          aria-describedby="email" />
        <label for="email">Email</label>
      </div>
    </div>
  </div>

  <!-- password -->
  <div class="col-md-6 mb-5 form-password-toggle">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <input type="password" id="password1" class="form-control" name="password1"
          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
          aria-describedby="password1" />
        <label for="password1">Mot de passe</label>
      </div>
      <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
    </div>
  </div>
  <div class="col-md-6 mb-5 form-password-toggle">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <input type="password" id="password2" class="form-control" name="password2"
          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
          aria-describedby="password2" />
        <label for="password2">Confirmer le mot de passe</label>
      </div>
      <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
    </div>
  </div>
</div>

<div class="row">
  <!-- cellule -->
  <div class="col-md-12 form-group mb-5">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <select class="form-select" id="cellule" name="cellule" aria-describedby="cellule">
          {% if cellules|length > 1 %}
            <option value="">-- Sélectionner une cellule --</option>
          {% endif %}
          {% for cellule in cellules %}
            <option value="{{ cellule.id }}" {% if cellules|length == 1 %}selected{% endif %}>
                {{ cellule }}
            </option>
          {% endfor %}
        </select>
        <label for="cellule">Cellule</label>
      </div>
    </div>
  </div>

  <!-- roles -->
  <div class="col-md-12 form-group mb-5">
    <div class="input-group input-group-merge">
      <div class="form-floating form-floating-outline">
        <select class="form-select" id="role" name="role" required required aria-describedby="role">
          <option value="">-- Sélectionner un rôle --</option>
          {% for role in roles %}
            <option value="{{ role.value }}">{{ role.label }}</option>
          {% endfor %}
        </select>
        <label for="role">Rôle</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- statut -->
  <div class="col-md-12 form-group mb-5">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="is_active" name="is_active">
      <label class="form-check-label" for="is_active">Actif</label>
    </div>
  </div>
</div>
