
{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Profil utilisateur{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="ri-user-3-line me-1"></i> Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_password_update' %}"><i class="ri-lock-line me-1"></i> Mot de passe</a>
      </li>
    </ul>

    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-sm-center gap-6">
          <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/avatars/1.png' %}{% endif %}"
            alt="avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar" />
          <div class="button-wrapper">
            <label for="upload" class="btn btn-sm btn-primary me-3 mb-4">
              <span>Changer la photo</span>
              <input type="file" id="upload" hidden accept="image/png, image/jpeg" />
            </label>
            <p class="text-muted mb-0">Format JPG ou PNG. Max (5 Mo).</p>
          </div>
        </div>
      </div>

      <hr class="my-0">

      <div class="card-body">
        <form id="formAccountSettings">
          <div class="row g-5">
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input class="form-control" type="text" id="firstName" value="{{ user.first_name }}" />
                <label>Nom</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input class="form-control" type="text" id="lastName" value="{{ user.last_name }}" />
                <label>Prénom</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input class="form-control" type="email" id="email" value="{{ user.email }}" />
                <label>E-mail</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input class="form-control" type="text" value="{{ user.username }}" readonly disabled />
                <label>Nom d'utilisateur (Non modifiable)</label>
              </div>
            </div>
          </div>

          {# Messages d'erreur/succès #}
          <div class="alert alert-success" id="form-success" style="display: none; margin-top: 1rem;"></div>
          <div class="alert alert-danger" id="form-error" style="display: none; margin-top: 1rem;"></div>

          <div class="mt-6">
            <button id="save-btn" class="d-flex justify-content-center align-items-center btn btn-primary no-transform" type="submit">
              <span class="" id="save-btn-text">Enregistrer les modifications</span>
              <div id="form-loader" class="d-none text-center">
                <i class="ri-loader-2-fill ri-2x spin text-white"></i>
              </div>
            </button>
          </div>
        </form>

        <div class="toast top-0 align-items-center mt-2 bg-opacity-25 bg-info" id="toast-container" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body text-white" id="toast-message">
              <!-- Message de toast injecté par JS -->
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'js/modules/users/profile.controller.js' %}"></script>
{% endblock %}
